<div class="container">
  <h1>{{camCtrl.campaign.name}}</h1>
  <div class="description panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-8">
            <image class="img-thumbnail" src="{{camCtrl.campaign.picture}}" style="max-height=300px;">
        </div>
        <div class="col-lg-4">
          <div class="row date">
            วันที่: <span>{{camCtrl.campaign.date.start | amDateFormat:'MM.DD.YYYY'}}</span> - <span>{{camCtrl.campaign.date.end | amDateFormat:'MM.DD.YYYY'}}</span>
          </div>
          <div class="row shortDesc">
            รายละเอียดเบื้องต้น: {{camCtrl.campaign.short_description}}
          </div>
          <div class="row price">
            ค่าใช้จ่ายโดยประมาณ: {{camCtrl.campaign.price}} บาท
          </div>
          <div class="traveller">
            <div class="row">
              <div class="owner">
                <div class="col-lg-2">
                  <img class="img-circle" src="{{camCtrl.campaign.owner.picture}}" data-holder-rendered="true" style="width: 40px; height: 40px;">
                </div>
                <div class="col-lg-7" >
                  <div >{{camCtrl.campaign.owner.name}}</div>
                </div>
                <div class="col-lg-3">
                  {{camCtrl.campaign.members.length}}/8
                </div>
              </div>
            </div>
            <div ng-repeat="member in camCtrl.campaign.members" class="members row">
              <div class="col-lg-2">
                <img class="img-circle" src="{{member.picture}}" data-holder-rendered="true" style="width: 40px; height: 40px;">
              </div>
              <div class="col-lg-7" >
                <div >{{member.name}}</div>
              </div>
              <div class="col-lg-3">
              </div>
            </div>
          </div>
          <div class="joinTrip" ng-show="user.name !== camCtrl.campaign.owner.name && !camCtrl.inTrip">
            <a class="btn btn-primary btn-block" ng-click="camCtrl.joinTrip()">join this trip</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" ng-repeat="date in camCtrl.campaign.dateList">
    <div class="panel-heading">{{date.location}} | {{date.date | amDateFormat:'MM.DD.YYYY'}}</div>
    <div class="panel-body"  ng-bind-html="date.description | to_trusted">
    </div>
  </div>
</div>
