<div class="container">
  <h1>Create New Campaign</h1>
  <form class="form-horizontal" name="createCampaign" method="post">
    <div class="form-group">
      <label for="campaignName" class="col-sm-2 control-label">Campaign Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="campaignName" value="" placeholder="Campaign Name">
      </div>
    </div>
    <div class="form-group">
      <label for="campaignDate" class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-6 form-group">
            <label for="campaignStartDate">Start Date</label>
            <input type="text" class="form-control" name="campaignStartDate" ng-model="createCtrl.dates.minDate">
          </div>
          <div class="col-sm-6 form-group">
            <label for="campaignStopDate">Stop Date</label>
            <input type="text" class="form-control" name="campaignStopDate" ng-model="createCtrl.dates.maxDate">
          </div>
        </div>
        <div date-range="" id="pickerRange" start="createCtrl.dates.minDate" end="createCtrl.dates.maxDate" date-change="changeDate" view="date" min-view="date" class="ng-isolate-scope">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="campaignDescp" class="col-sm-2 control-label">Campaign Description</label>
      <div class="col-sm-10">
        <textarea name="campaignDescp" rows="8" cols="40" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="campaignSetting" class="col-sm-2 control-label">Campaign Setting</label>
      <div class="col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="campaignSetting"> Female Only
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="campaignSetting"> Male Only
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="campaignThumbnail" class="col-sm-2 control-label">Campaign Thumbnail</label>
      <div class="col-sm-10">
        <input type="file" name="compaignThumbnail">
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Date 1</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="campaignDescp" class="col-sm-2 control-label">Location</label>
            <div class="col-sm-10">
              <select class="form-control" name="">
                <option selected>Bangkok</option>
                <option>Trang</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="campaignDescp" class="col-sm-2 control-label">Date 1 Description</label>
            <div class="col-sm-10">
              <div name="campaignDescp" class="ta-editor" class="form-control" ng-model="htmlVariable" text-angular></div>
            </div>
          </div>
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Create Campaign</button>
      </div>
    </div>
  </form>
</div>
