<div class="container">
  <div class="recommendedTrip row">
    <div ng-repeat="rvcampaign in rvCampaignList" class="col-lg-4">
        <div class="col-lg-4">
          <p><span class="fa fa-star fa-5x" style="color:gold;"></span></p>
        </div>
        <div class="col-lg-4">
          <p>{{rvcampaign.score}} %</p>
          <p>{{rvcampaign.name}}</p>
        </div>
        <div class="col-lg-4">
          <a class="btn btn-lg btn-primary" ui-sref="rvcampaign({campaign_id: $index})">view</a>
        </div>
    </div>
  </div>
</div>
  <div class="reviewTrip row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active position_img">
          <div class="b1">
            <div class="black">

            </div>
          </div>
          <div class="carousel-caption">
            <h3>ไข่กระทะ</h3>
            <p>สุดยอดอาหารเช้า อย่าได้พลาดที่เชียงใหม่</p>
          </div>
        </div>

        <div class="item position_img">
          <div class="b2">
            <div class="black">

            </div>
          </div>
          <div class="carousel-caption">
            <h3>หงส์ดำ</h3>
            <p>หงส์ดำแห่งปางอุ๋ง แม่ฮ่องสอน</p>
          </div>
        </div>

        <div class="item position_img">
          <div class="b3">
            <div class="black">

            </div>
          </div>
          <div class="carousel-caption">
            <h3>กันตัง</h3>
            <p>ไม่ไปกันตัง ไปไม่ถึงตรัง</p>
          </div>
        </div>

        <div class="item position_img">
          <div class="b4">
            <div class="black">

            </div>
          </div>
          <div class="carousel-caption">
            <h3>อยู่หรู กินดี</h3>
            <p>มาใช้บริการที่ OUTHAING</p>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> -->
  </div>
  <div class="searchTrip row form-inline">
    <div class="container">
      <div class="col-lg-2">
        <h4>ค้นหา</h4>
      </div>
      <div class="col-lg-3">
          <div class="form-group">
            <label for="where">Where: </label>
            <input id="where" type="text" class="form-control" placeholder="Bangkok, Ho-gimin etc.">
          </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for="when">When: </label>
          <input id="when" type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="col-lg-2">
        <a class="btn btn-primary btn-lg btn-block bt_color2">ค้นหา</a>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>
<div class="container">
  <div class="joinTrip row">
    <h1 class="text-center">Join New Trip!</h1>
    <h3 class="text-center">หาทริปที่สนใจ</h1>
    <div class="col-lg-4" ng-repeat="campaign in campaignList" >
      <div class="thumbnail">
        <image class="img-rounded" src="{{campaign.picture}}" style="height:220px;">
      <div class="caption text-center">
          <h3>{{campaign.name}}</h3>
          <p>
            {{campaign.short_description}}
          </p>
          <a class="btn btn-primary btn-block" ui-sref="campaign({campaign_id: $index})">view</a>
      </div>
            </div>
    </div>
  </div>
</div>
