<nav class="navbar navbar-default navbar-style">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
    </div>
    <a class="navbar-text navbar-right" style="width:15%" ui-sref="profile">{{user.name}}</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li>
      <li><a ui-sref="reviewlist">Review</a></li>
      <li><a ui-sref="triplist">Trip</a></li>
      <li><a ui-sref="create">Create Campaign</a></li>
    </ul>
  </div>
</nav>
