.recommendedTrip{
  padding-bottom: 20px;
}

.searchTrip{
  background-color: #4b4b4b;
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchTrip h4, label{

  color : white;
}
.bt_color{
  background-color: #59b791;
  border: none;
  width: 90px;
  height: 35px;
}
.bt_color2{
  background-color: #59b791;
  border: none;
  width: 90px;
  height: 35px;
  font-size: 1em;
}
.position_img{
  margin-left: 120px;
}
